{% extends 'base.html' %}
{% block body %}
<div id="login">
<div class="container">
<br>
<h3 class="text-center text-danger">Login</h3><br>
  <div class="form-group col-md-6">
    <label for="username" class="text-danger">Username:</label><br>
    <input type="text" name="username" id="username" class="form-control">
  </div>
  <div class="form-group col-md-6">
    <label for="password" class="text-danger">Password:</label><br>
    <input type="password" name="password" id="password" class="form-control">
  </div>
  <div class="form-group col-md-6">
    <div class="row">
      <input type="submit" id="loginButton" class="form-control btn btn-danger" value="submit">
    </div>
  </div>
  <div class="form-group col-md-6">
      <div class="row">
        <a href="{% url 'register' %}" class="form-control btn btn-outline-danger">Register here</a>
      </div>
  </div>

  </div>
</div>

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" 
crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
$('#login').click(function(){
    $.post('/apis/v1/users/login',{'username':$('#username').val(),'password':$('#password').val()},function(){
        location.reload();
    }).fail(function(data){
        alert(data.responseJSON.message);
    });
});
});
</script>

{% endblock %}